body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 350px;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 16px;
}