.container{
    width: 100%;
    height: 300px;
    background-color: blue;
}

@media only screen and (max-width: 768px) {
    .container{
        height: 50vh;
        background-color: blueviolet;
    }
}

@media only screen and (max-width: 600px){
    .container{
        height: 100vh;
        background-color: rosybrown;
    }
}